In [ ]:
import pandas as pd
import numpy as np

# Pandas series

In [ ]:
labes = ['a','b','c']
my_list = [10,20,30]
arr = np.array(my_list)
d={'a':10, 'b':20, 'c':30}

In [ ]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data=my_list, index=labes)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(data=labes, index=my_list)

10    a
20    b
30    c
dtype: object

In [ ]:
pd.Series(data=arr)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

# Pandas DataFrame

In [ ]:
from numpy.random import randn

In [ ]:
df = pd.DataFrame(randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [ ]:
df

          W         X         Y         Z
A -0.602917 -0.116585 -0.414123  0.732758
B -1.601187  0.234240  0.053388 -0.719075
C -1.446525  1.904380 -0.131835  0.976714
D -0.664207 -0.849478 -0.020444  0.273390
E -0.142981 -0.097172  0.034292 -0.753602

In [ ]:
df1 = pd.DataFrame(randn(5,4), columns='W X Y Z'.split())

In [ ]:
df1

          W         X         Y         Z
0 -1.161208  1.396282  0.329815 -0.971561
1 -1.405501  0.693305 -1.761535  0.221529
2  0.630384 -0.179250  0.940600 -1.169687
3 -1.744897  0.211617 -1.591498  0.553358
4 -0.552653 -1.068627  0.333364 -1.841691

In [ ]:
df['W']

A   -0.602917
B   -1.601187
C   -1.446525
D   -0.664207
E   -0.142981
Name: W, dtype: float64

In [ ]:
df2 = df[['W','Y']]
df2

          W         Y
A -0.602917 -0.414123
B -1.601187  0.053388
C -1.446525 -0.131835
D -0.664207 -0.020444
E -0.142981  0.034292

In [ ]:
df['new'] = df['W']+df['Y']

In [ ]:
df

          W         X         Y         Z       new
A -0.602917 -0.116585 -0.414123  0.732758 -1.017040
B -1.601187  0.234240  0.053388 -0.719075 -1.547798
C -1.446525  1.904380 -0.131835  0.976714 -1.578360
D -0.664207 -0.849478 -0.020444  0.273390 -0.684651
E -0.142981 -0.097172  0.034292 -0.753602 -0.108690

# Drop

In [ ]:
df.drop('new', axis=1, inplace=True)

In [ ]:
df.drop('E', axis=0)

          W         X         Y         Z
A -0.602917 -0.116585 -0.414123  0.732758
B -1.601187  0.234240  0.053388 -0.719075
C -1.446525  1.904380 -0.131835  0.976714
D -0.664207 -0.849478 -0.020444  0.273390

In [ ]:
df.loc['B']

W   -1.601187
X    0.234240
Y    0.053388
Z   -0.719075
Name: B, dtype: float64

In [ ]:
df.iloc[1]

W   -1.601187
X    0.234240
Y    0.053388
Z   -0.719075
Name: B, dtype: float64

In [ ]:
df

          W         X         Y         Z
A -0.602917 -0.116585 -0.414123  0.732758
B -1.601187  0.234240  0.053388 -0.719075
C -1.446525  1.904380 -0.131835  0.976714
D -0.664207 -0.849478 -0.020444  0.273390
E -0.142981 -0.097172  0.034292 -0.753602

In [ ]:
df>0

       W      X      Y      Z
A  False  False  False   True
B  False   True   True  False
C  False   True  False   True
D  False  False  False   True
E  False  False   True  False

In [ ]:
df[df>0]

    W        X         Y         Z
A NaN      NaN       NaN  0.732758
B NaN  0.23424  0.053388       NaN
C NaN  1.90438       NaN  0.976714
D NaN      NaN       NaN  0.273390
E NaN      NaN  0.034292       NaN

In [ ]:
df[df['X']>0]

          W        X         Y         Z
B -1.601187  0.23424  0.053388 -0.719075
C -1.446525  1.90438 -0.131835  0.976714

In [ ]:
df[df['X']>0]['Y']

B    0.053388
C   -0.131835
Name: Y, dtype: float64

In [ ]:
df[df['X']>0][['Y','Z']]

          Y         Z
B  0.053388 -0.719075
C -0.131835  0.976714

In [ ]:
df[df['X']>0].reset_index(drop=True)

          W        X         Y         Z
0 -1.601187  0.23424  0.053388 -0.719075
1 -1.446525  1.90438 -0.131835  0.976714

In [ ]:
df[(df['X']>0) & (df['Y']<1)]

          W        X         Y         Z
B -1.601187  0.23424  0.053388 -0.719075
C -1.446525  1.90438 -0.131835  0.976714

# Missing Data

In [ ]:
dfn = df[df>0]
dfn

    W        X         Y         Z
A NaN      NaN       NaN  0.732758
B NaN  0.23424  0.053388       NaN
C NaN  1.90438       NaN  0.976714
D NaN      NaN       NaN  0.273390
E NaN      NaN  0.034292       NaN

In [ ]:
dfn.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [A, B, C, D, E]

In [ ]:
df = pd.DataFrame({
    'A':[1,2,np.nan],
    'B':[5, np.nan, np.nan],
    'C':[1,2,3]
})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [ ]:
df.dropna(axis=1, inplace=True)

In [ ]:
df.drop('B',axis=1, inplace=True)

In [ ]:
df.dropna()

     A  C
0  1.0  1
1  2.0  2

In [ ]:
df.fillna(value='val', inplace=True)

In [ ]:
df

     A    B  C
0    1    5  1
1    2  val  2
2  val  val  3

In [ ]:
df['A'].fillna(value=df['A'].mean(), inplace=True)

In [ ]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  1.5  NaN  3

# Groupby

In [ ]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
        'Person':['sam','Charlie','Amy','Vanesa', 'Carl','Sarah'],
        'Sales':[200,120,340,124,243,250]        
        }
data

{'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
 'Person': ['sam', 'Charlie', 'Amy', 'Vanesa', 'Carl', 'Sarah'],
 'Sales': [200, 120, 340, 124, 243, 250]}

In [ ]:
df = pd.DataFrame(data)
df

  Company   Person  Sales
0    GOOG      sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT   Vanesa    124
4      FB     Carl    243
5      FB    Sarah    250

In [ ]:
df.groupby('Company')

In [ ]:
gb = df.groupby('Company')

In [ ]:
gb.mean()

         Sales
Company
FB       246.5
GOOG     160.0
MSFT     232.0

In [ ]:
gb.std()

              Sales
Company
FB         4.949747
GOOG      56.568542
MSFT     152.735065

In [ ]:
gb.max()

         Person  Sales
Company
FB        Sarah    250
GOOG        sam    200
MSFT     Vanesa    340

In [ ]:
gb.count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  6 non-null      object
 1   Person   6 non-null      object
 2   Sales    6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [ ]:
df.describe()

            Sales
count    6.000000
mean   212.833333
std     83.829390
min    120.000000
25%    143.000000
50%    221.500000
75%    248.250000
max    340.000000

In [ ]:
gb.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  246.5    4.949747  243.0  244.75  246.5  248.25  250.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [ ]:
gb.describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   246.500000  160.000000  232.000000
      std      4.949747   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    244.750000  140.000000  178.000000
      50%    246.500000  160.000000  232.000000
      75%    248.250000  180.000000  286.000000
      max    250.000000  200.000000  340.000000

In [ ]:
gb.describe().transpose()['FB']

Sales  count      2.000000
       mean     246.500000
       std        4.949747
       min      243.000000
       25%      244.750000
       50%      246.500000
       75%      248.250000
       max      250.000000
Name: FB, dtype: float64

# Concatenaciones

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
pd.concat([df2,df1,df3])

      A    B    C    D
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
pd.concat([df1,df2,df3], axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [ ]:
pd.merge(df1,df2,how='  left')

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

# Operaciones

In [ ]:
df=pd.DataFrame({
    'col1':[1,2,3,4],
    'col2':[444,555,666,444],
    'col3':['abc','def','ghi','jkl']
})

In [ ]:
df.head(3)

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi

In [ ]:
df.tail(1)

   col1  col2 col3
3     4   444  jkl

In [ ]:
df['col2'].unique()

array([444, 555, 666])

In [ ]:
df['col2'].nunique()

3

In [ ]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [ ]:
type(df['col2'].value_counts())

pandas.core.series.Series

In [ ]:
del df['col1']

In [ ]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  jkl

In [ ]:
df.sort_values(by='col2',ascending=False)

   col2 col3
2   666  ghi
1   555  def
0   444  abc
3   444  jkl

In [ ]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [ ]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  jkl

In [ ]:
df1 = pd.DataFrame({
    'A':[1,2,np.nan],
    'B':[5, np.nan, np.nan],
    'C':[1,2,3]
})
df1

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
df1.isnull()

       A      B      C
0  False  False  False
1  False   True  False
2   True   True  False

# Data input and output

In [ ]:
df = pd.read_csv('example')

In [ ]:
df.head()

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
df.to_csv('clean_df.csv')

## Fin

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))